:root{
    --cor-0: #ffffff;
    --cor-1: #f2f2f2;
    --cor-2: #e6e6e6;
    --cor-3: #dbdbdb;
    --cor-4: #c7c7c7;
    --cor-5: #b8b8b8;
    --cor-6: #a8a8a8;
    --cor-7: #707070;
    --cor-8: #595959;
    --cor-9: #424242;
    --cor-10: #2e2e2e;
    --cor-11: #121212;
    --cor-12: #000000;
    --cor-p1: #1d1547;
    --cor-p2: #7966e0;
    --cor-p3: #8875eb;
}