#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
}

.orcamento h2:before {
  content: "";
  width: 4px;
  height: 8px;
  background: linear-gradient(var(--cor-p4), var(--cor-p3));
  display: inline-block;
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  background-color: var(--cor-12);
  border-radius: 4px 0 0 4px;
}

.orcamento-produto label {
  color: var(--cor-4);
  background-color: var(--cor-10);
  font: 400 1rem/1.5 "Poppins", sans-serif;
  grid-column: initial;
  display: block;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-top: 20px;
}

.orcamento-produto input:checked + label {
  background-color: var(--cor-0);
  color: var(--cor-11);
  border-radius: 4px 4px 0 0;
}

/* Bolinha de cada produto */
.orcamento-produto label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
  margin-right: 8px;
}
/* Bolinha efeito checked */
.orcamento-produto input:checked + label:before {
  border-color: var(--cor-7);
  box-shadow: inset 0 0 0 4px var(--cor-0), inset 0 0 0 8px var(--cor-7);
}

.orcamento-produto label:hover {
  background-color: var(--cor-9);
}

/* Borda lilás quando um console estiver em foco */
.orcamento-produto input:focus + label {
  border-top: 2px solid var(--cor-p2);
  border-left: 2px solid var(--cor-p2);
  border-right: 2px solid var(--cor-p2);
}
.orcamento-produto input:focus + label + .orcamento-detalhes {
  border-bottom: 2px solid var(--cor-p2);
  border-left: 2px solid var(--cor-p2);
  border-right: 2px solid var(--cor-p2);
}

/* Mostrar o preço somente quando o radio estiver marcado */
.orcamento-produto label span {
  display: none;
}
.orcamento-produto input:checked + label span {
  display: inline-block;
}

/* Para esconder a bolinha padrão do radio */
.orcamento-produto input {
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
}

/* Detalhe de cada console */
.orcamento-detalhes {
  background-color: var(--cor-0);
  padding: 20px;
  border-radius: 0 0 4px 4px;
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;
}
.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.orcamento-detalhes li img {
  width: 24px;
  margin-right: 8px;
}

.orcamento-dados {
  background-color: var(--cor-0);
  border-radius: 0 4px 4px 0;
}

.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px;
  }
}
@media (max-width: 800px) {
  .orcamento{
    grid-template-columns: 1fr;
    padding-bottom: 60px;
  }
  .orcamento-produto{
    border-radius: 4px 4px 0 0;
  }
  .orcamento-dados {
    border-radius: 0 0 4px 4px;
  }
}
@media (max-width: 600px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 20px;
  }
}
